<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h2> {{>header}}</h2>
<h1>About main is {{aboutMain}}</h1>
<h1> About sub is {{aboutSub}}</h1>
</body>

<footer>
    {{>footer}}
</footer>

</html>