<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h2> {{>header}}</h2>
<h4>The site was created by Limitless19.It uses data from mapbox.com and darksky.net </h4>
<h3>{{aboutMain}}</h3>
</body>

<footer>
    {{>footer}}
</footer>

</html>