<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">  <!--linking css file here-->.
</head>

<body>
<div class="main-content">
    <h2> {{>header}}</h2>
    <img class="portrait" alt="Halimah's picture" src="./img/halimah.jpg">
    <p>Use this site to get  your weather</p>
    <form>
        <input placeholder="location">
        <button>
            search
        </button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer}}
<script src="js/app.js"></script>  <!--linking js file here.Only link javascript file in index.html-->.
</body>

</html>